@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  p {
    @apply text-base;
  }

  @screen md {
    h1 {
      @apply text-5xl;
    }
    h2 {
      @apply text-4xl;
    }
  }

  @screen lg {
    h1 {
      @apply text-6xl;
    }
    h2 {
      @apply text-5xl;
    }
  }
}

@layer components {
  .profile-image {
    width: 230px !important;
    height: 230px !important;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  #about-section, #contact-section {
    scroll-margin-block-start: 0;
  }

  @screen md {
    #about-section {
      scroll-margin-block-start: 100px;
    }
  }

  @screen lg {
    .profile-image {
      width: 270px !important;
      height: 270px !important;
    }

    #about-section, #contact-section {
      scroll-margin-block-start: 1rem;
    }
  }

  @screen xl {
    .profile-image {
      width: 330px !important;
      height: 330px !important;
    }
  }

}

@layer utilities {
}
